<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
	xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
	<title> Welcome to the World of Tomorrow with Slotman.com! </title>
	<!--[if !mso]><!-- -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<![endif]-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if mso]>
        <xml>
        <o:OfficeDocumentSettings>
          <o:AllowPNG/>
          <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
        </xml>
        <![endif]-->
	<!--[if lte mso 11]>
        <style type="text/css">
          .mj-outlook-group-fix { width:100% !important; }
        </style>
        <![endif]-->
	<style type="text/css">
		#outlook a {
			padding: 0;
		}

		body {
			margin: 0;
			padding: 0;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
		}

		table,
		td {
			border-collapse: collapse;
			mso-table-lspace: 0pt;
			mso-table-rspace: 0pt;
			font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
		}

		img {
			border: 0;
			height: auto;
			line-height: 100%;
			outline: none;
			text-decoration: none;
			-ms-interpolation-mode: bicubic;
		}

		.pg-content {
			padding: 35px 40px;
		}

		.pg-content,
		.pg-content p,
		.pg-content li,
		.pg-content ul,
		.pg-content span,
		.pg-content div {
			font-size: 15px;
			color: #000000;
			line-height: 1.4;
			text-align: left;
			font-weight: 500;
			font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
			letter-spacing: 0.1px;
		}

		.pg-content p,
		.pg-content li,
		.pg-content ul,
		.pg-content span,
		.pg-content div {
			margin: 0;
			padding: 0;
		}

		.pg-content ul {
			padding-left: 20px;
			margin: 10px 0;
		}

		.pg-content a {
			color: #ff5100;
		}

		.pg-content h1,
		.pg-content h2,
		.pg-content h3,
		.pg-content h4,
		.pg-content h5,
		.pg-content h6 {
			font-size: 32px;
			text-align: center;
			color: #000000;
			line-height: 1.2;
			font-weight: normal;
			margin: 7%;
			padding: 0;
		}

		@media only screen and (max-width: 596px) {
			.btn {
				font-size: 15px !important;
			}
			.pg-container {
				width: 90px !important;
				margin: 0 auto !important;
			}
			.pg-content,
			.pg-content p,
			.pg-content li,
			.pg-content ul,
			.pg-content span,
			.pg-content div {
				font-size: 15px !important;
				line-height: 1.3 !important;
				margin: 3% 0 !important;
			}

			.pg-content h1,
			.pg-content h2,
			.pg-content h3,
			.pg-content h4,
			.pg-content h5,
			.pg-content h6,
			.heading {
				font-size: 20px !important;
				text-align: left !important;
				color: #000000 !important;
				line-height: 1.2 !important;
				font-weight: normal !important;
				margin: 0 0 7% 0px !important;
				padding: 0 !important;
			}
		}
	</style>
</head>

<body style="background-color:#E7E7E7;">

	<table border="0" cellpadding="0" cellspacing="0" style="margin:0;padding:0" width="100%" bgcolor="#172037">
		<tbody>
			<tr>
				<td valign="middle" align="center">
					<table border="0" cellpadding="0" cellspacing="0"
						style="max-width:600px!important;background-color:transparent;margin:0;padding:0" width="100%"
						bgcolor="transparent">
						<tbody>
							<tr>
								<td valign="middle" align="center"
									style="padding-right:0;padding-top:25px;padding-left:0">
									<a href="{{snippets.target_home}}" target="_blank">
										<img src="https://mcusercontent.com/f0f050b914a07bc3891450ced/images/fb8f243c-8c38-45e3-87a5-2352a6f9da09.png"
											alt="ladyhammer casino" border="0" style="display:block" width="207"
											height="38">
									</a>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="center" style="letter-spacing:-1px;padding:10px 10px 5px">

									<br>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" width="100%"
										style="margin:0;padding:0" class="pg-container">
										<tbody>
											<tr>
												<td valign="top" width="100" border="0" style="padding:0">
													<a href="{{snippets.target_home}}" target="_blank">
														<img src="https://mcusercontent.com/f0f050b914a07bc3891450ced/images/e286a3f5-3763-43d4-ae80-ce6709285037.png"
															alt="ladyhammer casino" border="0" style="display:block"
															width="100%" height="auto" tabindex="0">
													</a>
												</td>
											</tr>
											<tr>
												<td align="center" valign="middle"
													style="color:#000;font-weight:normal;background-color:#ffffff;border-radius:3px;"
													bgcolor="#ffffff" class="pg-content">

													{{ content }}

													<h1 style="text-align:center;color:#000000;line-height:1.2;font-weight:normal;margin: 1% 0 7% 0;padding:0; font-size: 21px;"
align="center" class="heading"><b> HI THERE FRIEND, </b></h1>

<p style="font-size:115%;color:#000000;line-height:1.2;text-align:left;font-weight:normal;margin:3% 0;padding:0"
align="left">

Lorem ipsum dolor sit amet consectetur adipisicing elit.
Provident, nemo repudiandae earum animi at, facilis debitis iste
aliquam ducimus veniam fugit beatae aspernatur, dolores incidunt
in a error delectus itaque culpa. Incidunt, vero optio
laboriosam placeat temporibus saepe necessitatibus quidem eum,
deleniti, recusandae expedita tenetur maxime unde?
<br><br>
<b style="text-decoration:underline"> 
Lorem ipsum dolor sit, amet consectetur adipisicing 
</b>
</p>

<p style="margin:3% 0; text-align: center;">
<a href="#"
	style="color:#ffffff!important;text-decoration:none;font-weight:bold;display:inline-block;font-size:15px;line-height:20px;letter-spacing:1px;text-align:center;min-width:180px;border-radius:30px;text-transform:uppercase;background:#ff5100;margin:20px 0 5px;padding:13px 15px;border:5px solid #ff5100"
	target="_blank" class="btn">
	CONFIRM ACCOUNT
</a><br>
<a href="#"
	style="color:#556388!important;text-decoration:none;font-weight:bold"
	target="_blank"> <small>The Bonus Policy
		applies</small></a>
</p>
												
												</td>
											</tr>
										</tbody>
									</table>

								</td>
							</tr>
							<tr>
								<td>
									<hr
										style="background-color:transparent;margin:24px 0 0;border-color:#2c3b62 transparent transparent;border-style:solid;border-width:1px">
								</td>
							</tr>
							<tr>
								<td style="padding:20px 40px 24px">
									<h3 style="display:block;color:#556388;font-size:17px;line-height:1.2;text-align:center;font-weight:bold;text-transform:none;margin:0 0 10px;padding:0; text-transform: uppercase;"
										align="center">
										Any Questions Left? Not a big deal
									</h3>
									<p style="font-size:14px;color:#556388;line-height:1.2;text-align:center;font-weight:normal;margin:0;padding:0"
										align="center">
										Please Contact our <a href="{{snippets.slotman_email}}" target="_blank"
											style="color: #556388;"><b> Support Team </b></b></a> through our Live Chat
										service and we will be glad to answer all your questions 24/7.
									</p>
									<p style="font-size:10px;color:#556388;line-height:1.2;text-align:center;font-weight:normal;margin: 20px 0 0;padding:0"
										align="center">

										<a href="{{snippets.slotman_soc_fb}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Facebook</a> &nbsp;|&nbsp;
										<a href="{{snippets.slotman_soc_tg}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Telegram</a> &nbsp;|&nbsp;
										<a href="{{snippets.slotman_soc_vi}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Viber</a> &nbsp;|&nbsp;
										<a href="{{snippets.slotman_soc_tw}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Twitter</a> 
								    	
									</p>
									<p style="font-size:10px;color:#556388;line-height:1.2;text-align:center;font-weight:normal;margin: 5px 0 0;padding:0"
										align="center">
									    <a href="{{snippets.target_login}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Login</a> &nbsp;|&nbsp;
											<a href="{{snippets.target_forgot_password}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank">Forgot</a> 
									    </p>
								</td>
							</tr>
							<tr>
								<td align="center" valign="top"
									style="color:#556388;font-size:13px;line-height:1.7;font-weight:normal;padding:0 40px 30px">
									<p style="font-size:13px;color:#556388;line-height:1.2;text-align:center;font-weight:normal;margin:0;padding:0"
										align="center">
										Copyright © 2020 Slotman.com is owned and operated by Dama N.V., a company
										registered and established under the laws of Curacao. Dama N.V. is licensed and
										regulated by Antillephone N.V. (license no. 8048/JAZ2020-013). Dama N.V.’s
										registration number is 152125 and its registered address is Julianaplein 36,
										Willemstad, Curaçao.
										<br><br>
										<a href="{{snippets.target_terms}}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank"> Terms & Conditions</a> &nbsp;|&nbsp;
										<a href="{% unsubscribe_url %}"
											style="color:#556388;font-size:13px;line-height:1.2;font-weight:bold;text-decoration:underline"
											target="_blank"> Unsubsribe </a>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>


</body>

</html>